h1,
h2 {
  font-family: "Gochi Hand", cursive;
  margin: 10% 5% 5% 10%;
}
h3 {
  font-family: "Montserrat", sans-serif;
}

.header-text {
  width: 600px;
  height: 200px;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.small-image {
  width: 200px;
}

.large-image {
  width: 40%;
  height: 40%;
  float: right;
  text-align: center;
}

#image {
  max-width: 100%;
  max-height: 100%;
}

#img-caption {
  font-size: small;
  font-style: italic;
}

.info-text {
  max-width: 800px;
  min-height: fit-content;
  margin-right: auto;
  text-align: justify;
  float: left;
}

.photo-grid {
  font-size: 40px;
  min-height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-rows: 1fr;
  grid-gap: 10px;
}
