h1,
h2 {
  font-family: "Gochi Hand", cursive;
  margin: 5% 10% 5% 20%;
}
h3 {
  font-family: "Montserrat", sans-serif;
}

.header-text {
  width: 500px;
  float: left;
}

.small-image {
  width: 200px;
}

.large-image {
  max-width: 100vmax;
  height: max-content;
  width: max-content;
  float: right;
}

.info-text {
  max-width: 60vmax;
  text-align: justify;
  float: left;
}

.photo-grid {
  float: none;
  display: inline-grid;
  width: 100%;
  grid-template-columns: repeat(5, minmax(60px, 1fr));
}