h1,
h2 {
  font-family: "Gochi Hand", cursive;
  margin: 5% 10% 5% 20%;
}
h3 {
  font-family: "Montserrat", sans-serif;
}

.header-text {
  width: 600px;
  height: 200px;
  float: left;
}

.small-image {
  width: 200px;
}

.large-image {
  width: 500px;
  height: max-content;
  float: right;
}

.info-text {
  width: 800px;
  text-align: justify;
  float: left;
}

.photo-grid {
  font-size: 40px;
  min-height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-rows: 1fr;
  grid-gap: 10px;
}
